@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

/*Declaración de ciertos tipos de colores en común a varias clases*/
.color_body{background: #FFFAFA; color: #000;}
.bg_1{background: #fff;}
.bg_2{background: #000;}
.bg_footer{background-color: rgba(0, 0, 0, .2);}

.color_hover:hover, .color_hover:focus{color: tomato; text-decoration: none; transition: color 0.3s ease;}

.my_body{
    margin: 0px;
    background-repeat: no-repeat;
    display: flex;
    min-height:100vh;
    flex-direction: column;
}


/*Este es el menú fijo de las redes sociales*/
.input_social{
    display: none;
}
.social{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}
.a_redes, .label_redes{
    display: block;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.a_redes:hover{
    background: #fff;
    transition: background 0.3s ease;
    color: tomato;
    transition: color 0.4s ease;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
.input_social:checked ~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.label_redes{
    cursor: pointer;
    font-size: 23px;
}
.input_social:checked ~ .btn_plus label{
    transform: rotate(135deg);
    font-size: 25px;
}
/*Esta acá el menú fijo de las redes sociales*/

/*Acá genero la transición de las tres barras a la cruz*/
.span_menu{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

.span_menu:first-child{
transform-origin: 0% 0%;
}

.span_menu:nth-last-child(2){
transform-origin: 0% 100%;
}
nav input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.check:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.check:checked ~ span:nth-last-child(2){
transform: rotate(-45deg) translate(0, -1px);
}
/*Hasta acá la tranformación del boton del menú*/

.ul_menu{
    position: absolute;
    width: 250px;
    margin: -75px 0 0 -50px;
    padding: 40px;
    padding-top: 130px;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    .li_menu{
        padding: 10px 0;
        font-size: 22px;
    }

    .check:checked ~ ul
    {
        transform: none;
    }

.h3_about,
.a_nav{
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 10px;
    letter-spacing: 2px;
}

.footer_redes,
.account{
    flex: 1 1 auto;
    display: flex;
    order: 3;
    justify-content: center;
}

    .a_footer,
    .a_account{
        font-size: 30px;
        color: #000;
        padding: 0 5px;
    }

/*Hasta acá el header*/

/*Comienzo del header*/
.header_menu{
    padding: 4vmin;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;

}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.hidden_menu{
    visibility: hidden;
    display: none;
}

.logo{
    flex: 1 1 auto;
    display: flex;
    order: 2;
    justify-content: center;
}

.p_footer,
    .span_about,
    .a_logo{
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
        color: #000;
    }

.nav_menu{
    flex: 1 1 auto;
    display: block;
    order: 1;
    position: relative;
    z-index: 1;
}

.check{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.ul_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Empieza el cuerpo principal de la página index*/
.grid{
    display: grid;
    width:100%;
    margin: auto;
}

.grid_item{
    margin: 5px;
    max-height: 450px;
    position: relative;
    line-height: 0;
    cursor: pointer;
}

.grid_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.image_index{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
}

.grid_title{
    height: 50%;
    margin: 0;
    font-size: 2em;
    text-transform: capitalize;
    z-index: 1;
    padding: 7em 0;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    transition: opacity .4s linear;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.grid_item:hover .grid_title{
    opacity: 1;
}

.grid_item:hover .image_index{
    filter: blur(2px);
}
/*Hasta acá el cuerpo principal de la página index*/

/*Empieza el cuerpo principal de las páginas de prendas*/
.item_shop{
    max-height: 300px;
    margin: 15px
}
.title_shop{
    height: 45%;
    padding: 2.5em 0;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.item_shop:hover .image_shop{
    transform: scale(1.1);
    transition: filter 0.3s ease-in;
}
/*Hasta acá el cuerpo principal de las páginas de prendas*/

/*Empieza el cuerpo principal de la página about*/
.grid_about{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    padding: 1rem;
}

.item_about{
    max-height: 500px;
}

.iframe_container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 1400px;
}

.item_iframe{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.iframe_about{
    position: absolute;
    width: 100%;
    height: 100%;
}
.span_about{
    font-size: 1em;
}

.carousel-item{
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
}
/*Hasta acá el cuerpo principal de la página about*/

/*Empieza el cuerpo principal de la página contacto*/
.form_content{
    margin: 1.5em;
}

.grid_footer,
.form_contact{
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

.logo_contact{
    text-align: center;
    font-size: 2em;
    border: none;
    border-style: none;
}

.div_form{
    width: 100%;
    height: 60px;
    padding: 10px 10px;
    position: relative;
    overflow: hidden;
}

.div_form:nth-child(5){
    height:150px;
}

.textarea_contact,
.input_contact{
    width: 100%;
    height: 100%;
    background: none;
    padding-top: 20px;
    resize: none;
    border: none;
    outline: 0px;
}

.label_textarea_contact,
.label_contact{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}
.span_contact{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.span_contact_tx{
    position: absolute;
    bottom: 15px;
    left: 0;
    transition: all 0.3s ease;
}

/* .textarea_contact:focus + .label_contact .span_contact,*/
.input_contact:focus + .label_contact .span_contact, 
/* .textarea_contact:valid + .label_contact .span_contact, */
.input_contact:valid + .label_contact .span_contact{
    transform: translateY(-200%);
    color: tomato;
}


/* .textarea_contact:empty + .label_contact .span_contact,
.textarea_contact:valid + .label_contact .span_contact, */
.input_contact:valid + .label_contact .span_contact{
    color: #000;
}

.div_btn_contact{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.btn_contact {
    width: 90%;
    font-size: 20px;
    background: none;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 1px solid;
    transition: all 1s ease;
    position: relative;
}

.btn_contact:hover{
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.btn_contact:active{
    border: none;
    background: tomato;
    color: #fff;
    transition: all 0.3s ease;
}
/*Hasta acá el cuerpo principal de la página contacto*/

/*Empieza el cuerpo principal de la página en construcción*/
.wait{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item_wait{
    margin: 10px;
    max-height: 400px;
}

.img_wait{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: top;
}
/*Hasta acá el cuerpo principal de la página en construcción*/

/*Acá comineza el footer de la página*/
.footer{
    padding: 2em;
    padding-bottom: 2px;
}

.footer_item{
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    align-items:center;
    flex-direction: column;
}

.p_work{
    font-size: 10px;
    text-transform: capitalize;
}
.powered{
    height: 30px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    display: flex;
}
.a_powered{
    font-size: 10px;
    color: #000;
    padding: 0 5px;
}

.powered_item{
    width: 150px;
}
.powered_redes{
    display:grid;
    grid-template-columns: 15px 15px 15px;
    padding-top: 10px;
}
/*Hasta acá el footer de la página*/

/*Bloque con las medias querry*/
/* @media(min-width:400px){
    .grid{
        grid-template-columns: repeat(1,100%);
    }
} */
@media(min-width:728px){
    .grid_about,
    .grid_footer,
    .form_contact,
    .grid{
        grid-template-columns: repeat(2,50%);
    }

    .f_c_footer{
        grid-template-columns: repeat(1, 100%);
    }

    .label_textarea_contact{
        width: 95.2%;
    }

    .btn_contact{
        margin-left: 1em;
    }

    .b_c_footer{
        margin: 0;
    }
    .block {
        grid-column: 1 / 3;
    }
}
@media(min-width:1024px){
    .grid{
        grid-template-columns: repeat(4,25%);
    }

    .form_contact{
        padding: 5px 10%;
    }

    .f_c_footer{
        grid-template-columns: repeat(1, 100%);
    }

    .hidden{
        visibility: hidden;
        display: none;
    }

    .hidden_menu{
        visibility: visible;
        order: 2;
        display: flex;
        justify-content:space-evenly;
        flex: 4 1 auto;
    }

    .logo{
        order: 1;
    }

    .social{
        flex: 2 1 auto;
    }

    .grid_footer{
        flex-direction: row;
    }

    .footer_item{
        align-items: center;
        justify-content: center;
        align-content:flex-start;
    }

}
